# My files to be deleted
~*
*~
# My workdir contains temporary files
*!work

# Temporary or secondary files
*.cache
*.bak
*.log
*.min.css
*.min.js

# Don't store files with environment variables,
# they may contain sensitive data
*.env

/vendor/
